*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-top: 8.3em;
}

header, #conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;

}

button.detalhes{
    width: 80px;
}
  